In [2]:
import os
import sys
os.environ["PYSPARK_PYTHON"] = "/opt/cloudera/parcels/Anaconda/bin/python"
os.environ["JAVA_HOME"] = "/usr/java/jdk1.8.0_232-cloudera/jre"
os.environ["SPARK_HOME"]="/opt/cloudera/parcels/SPARK2-2.3.0.cloudera2-1.cdh5.13.3.p0.316101/lib/spark2/"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
sys.path.insert(0, os.environ["PYLIB"] +"/py4j-0.10.6-src.zip")
sys.path.insert(0, os.environ["PYLIB"] +"/pyspark.zip")

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('demo').master("local").getOrCreate()
spark

In [4]:
df = spark.read.csv("hdfs://ip-10-0-0-79.ec2.internal:8020/user/root/ATM/part-m-00000", inferSchema= True , header= True )

In [5]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, BooleanType, DoubleType, LongType

In [6]:
df.show(5)

+----+-------+---+------+---+--------+---+---+----------+-------------------+---+----+------+------+---+----------+----+----------+----+----+------+------+-------+--------------+-------+----+---+---+---+-----+---+---+-------+--------------------+
|2017|January| 12|Sunday|  0|  Active| 16|NCR|NÃƒÂ¦stved|        Farimagsvej|  8|4700|55.233|11.763|DKK|MasterCard|5643|Withdrawal|_c18|_c19|55.230|11.761|2616038|      Naestved|281.150|1014| 87|  7|260|0.215| 92|500|   Rain|          light rain|
+----+-------+---+------+---+--------+---+---+----------+-------------------+---+----+------+------+---+----------+----+----------+----+----+------+------+-------+--------------+-------+----+---+---+---+-----+---+---+-------+--------------------+
|2017|January|  1|Sunday|  0|Inactive|  2|NCR|  Vejgaard|         Hadsundvej| 20|9000|57.043|  9.95|DKK|MasterCard|1764|Withdrawal|null|null|57.048| 9.935|2616235|NÃƒÂ¸rresundby| 280.64|1020| 93|  9|250| 0.59| 92|500|   Rain|          light rain|
|2017|January|  1|Sunday|  0|Inactive|  2|NCR|  Vejgaard|         Hadsundvej| 20|9000|57.043|  9.95|DKK|      VISA|1891|Withdrawal|null|null|57.048| 9.935|2616235|NÃƒÂ¸rresundby| 280.64|1020| 93|  9|250| 0.59| 92|500|   Rain|          light rain|
|2017|January|  1|Sunday|  0|Inactive|  3|NCR|     Ikast|RÃƒÂ¥dhusstrÃƒÂ¦det| 12|7430|56.139| 9.154|DKK|      VISA|4166|Withdrawal|null|null|56.139| 9.158|2619426|         Ikast| 281.15|1011|100|  6|240|  0.0| 75|300|Drizzle|light intensity d...|
|2017|January|  1|Sunday|  0|  Active|  4|NCR|Svogerslev|       BrÃƒÂ¸nsager|  1|4000|55.634|12.018|DKK|MasterCard|5153|Withdrawal|null|null|55.642| 12.08|2614481|      Roskilde| 280.61|1014| 87|  7|260|  0.0| 88|701|   Mist|                mist|
|2017|January|  1|Sunday|  0|  Active|  5|NCR|      Nibe|             Torvet|  1|9240|56.983| 9.639|DKK|MasterCard|3269|Withdrawal|null|null|56.981| 9.639|2616483|          Nibe| 280.64|1020| 93|  9|250| 0.59| 92|500|   Rain|          light rain|
+----+-------+---+------+---+--------+---+---+----------+-------------------+---+----+------+------+---+----------+----+----------+----+----+------+------+-------+--------------+-------+----+---+---+---+-----+---+---+-------+--------------------+
only showing top 5 rows

In [7]:
fileSchema = StructType([StructField('year', IntegerType(),True),
                        StructField('month', StringType(),True),
                        StructField('day', IntegerType(),True),
                        StructField('weekday', StringType(),True),
                        StructField('hour', IntegerType(),True),
                        StructField('atm_status', StringType(),True),
                        StructField('atm_id', IntegerType(),True),
                        StructField('atm_manufacturer', StringType(),True),
                        StructField('atm_location', StringType(),True),
                        StructField('atm_streetname', StringType(),True),
                        StructField('atm_street_number', IntegerType(),True),
                        StructField('atm_zipcode', IntegerType(),True),
                        StructField('atm_lat', DoubleType(),True),
                        StructField('atm_lon', DoubleType(),True),
                        StructField('currency', StringType(),True),
                        StructField('card_type', StringType(),True), 
                        StructField('transaction_amount', LongType(),True),
                        StructField('service', StringType(),True),
                        StructField('message_code', StringType(),True),
                        StructField('message_text', StringType(),True),
                        StructField('weather_lat', DoubleType(),True),
                        StructField('weather_lon', DoubleType(),True),
                        StructField('weather_city_id', LongType(),True),
                        StructField('weather_city_name', StringType(),True),
                        StructField('temp', DoubleType(),True), 
                        StructField('pressure', IntegerType(),True),
                        StructField('humidity', IntegerType(),True),
                        StructField('wind_speed', IntegerType(),True),
                        StructField('wind_deg', IntegerType(),True),
                        StructField('rain_3h', DoubleType(),True),
                        StructField('clouds_all', IntegerType(),True),
                        StructField('weather_id', IntegerType(),True),
                        StructField('weather_main', StringType(),True),
                        StructField('weather_description', StringType(),True),
                        ])

In [8]:
df = spark.read.csv("hdfs://ip-10-0-0-79.ec2.internal:8020/user/root/ATM/part-m-00000", schema=fileSchema , header= False )

In [9]:
df.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- weekday: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- atm_status: string (nullable = true)
 |-- atm_id: integer (nullable = true)
 |-- atm_manufacturer: string (nullable = true)
 |-- atm_location: string (nullable = true)
 |-- atm_streetname: string (nullable = true)
 |-- atm_street_number: integer (nullable = true)
 |-- atm_zipcode: integer (nullable = true)
 |-- atm_lat: double (nullable = true)
 |-- atm_lon: double (nullable = true)
 |-- currency: string (nullable = true)
 |-- card_type: string (nullable = true)
 |-- transaction_amount: long (nullable = true)
 |-- service: string (nullable = true)
 |-- message_code: string (nullable = true)
 |-- message_text: string (nullable = true)
 |-- weather_lat: double (nullable = true)
 |-- weather_lon: double (nullable = true)
 |-- weather_city_id: long (nullable = true)
 |-- weather_city_name: string (nullable = true)
 |-- temp: double (nullable = true)
 |-- pressure: integer (nullable = true)
 |-- humidity: integer (nullable = true)
 |-- wind_speed: integer (nullable = true)
 |-- wind_deg: integer (nullable = true)
 |-- rain_3h: double (nullable = true)
 |-- clouds_all: integer (nullable = true)
 |-- weather_id: integer (nullable = true)
 |-- weather_main: string (nullable = true)
 |-- weather_description: string (nullable = true)

In [10]:
df.show(5)

+----+-------+---+-------+----+----------+------+----------------+------------+-------------------+-----------------+-----------+-------+-------+--------+----------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
|year|  month|day|weekday|hour|atm_status|atm_id|atm_manufacturer|atm_location|     atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|currency| card_type|transaction_amount|   service|message_code|message_text|weather_lat|weather_lon|weather_city_id|weather_city_name|  temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main| weather_description|
+----+-------+---+-------+----+----------+------+----------------+------------+-------------------+-----------------+-----------+-------+-------+--------+----------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
|2017|January|  1| Sunday|   0|    Active|     1|             NCR|  NÃƒÂ¦stved|        Farimagsvej|                8|       4700| 55.233| 11.763|     DKK|MasterCard|              5643|Withdrawal|        null|        null|      55.23|     11.761|        2616038|         Naestved|281.15|    1014|      87|         7|     260|  0.215|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|    Vejgaard|         Hadsundvej|               20|       9000| 57.043|   9.95|     DKK|MasterCard|              1764|Withdrawal|        null|        null|     57.048|      9.935|        2616235|   NÃƒÂ¸rresundby|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|    Vejgaard|         Hadsundvej|               20|       9000| 57.043|   9.95|     DKK|      VISA|              1891|Withdrawal|        null|        null|     57.048|      9.935|        2616235|   NÃƒÂ¸rresundby|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     3|             NCR|       Ikast|RÃƒÂ¥dhusstrÃƒÂ¦det|               12|       7430| 56.139|  9.154|     DKK|      VISA|              4166|Withdrawal|        null|        null|     56.139|      9.158|        2619426|            Ikast|281.15|    1011|     100|         6|     240|    0.0|        75|       300|     Drizzle|light intensity d...|
|2017|January|  1| Sunday|   0|    Active|     4|             NCR|  Svogerslev|       BrÃƒÂ¸nsager|                1|       4000| 55.634| 12.018|     DKK|MasterCard|              5153|Withdrawal|        null|        null|     55.642|      12.08|        2614481|         Roskilde|280.61|    1014|      87|         7|     260|    0.0|        88|       701|        Mist|                mist|
+----+-------+---+-------+----+----------+------+----------------+------------+-------------------+-----------------+-----------+-------+-------+--------+----------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
only showing top 5 rows

In [11]:
df.count()

2468572

In [12]:
from pyspark.sql.functions import *

In [13]:
DIM_LOCATION=df.select("atm_location","atm_streetname","atm_street_number","atm_zipcode","atm_lat","atm_lon").distinct()

In [14]:
from pyspark.sql.window import Window
DIM_LOCATION=DIM_LOCATION.withColumn('atm_location_id',row_number().over(Window.orderBy(monotonically_increasing_id())));
DIM_LOCATION=DIM_LOCATION.select("atm_location_id","atm_location","atm_streetname","atm_street_number","atm_zipcode","atm_lat","atm_lon")

In [15]:
DIM_LOCATION=DIM_LOCATION.na.drop()

In [16]:
DIM_LOCATION.show(5)

+---------------+-----------------+----------------+-----------------+-----------+-------+-------+
|atm_location_id|     atm_location|  atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|
+---------------+-----------------+----------------+-----------------+-----------+-------+-------+
|              1|            Vadum|  Ellehammersvej|               43|       9430| 57.118|  9.861|
|              2|         Slagelse| Mariendals Alle|               29|       4200| 55.398| 11.342|
|              3|       Fredericia|SjÃƒÂ¦llandsgade|               33|       7000| 55.564|  9.757|
|              4|          Kolding|        Vejlevej|              135|       6000| 55.505|  9.457|
|              5|HÃƒÂ¸rning Hallen|        Toftevej|               53|       8362| 56.091| 10.033|
+---------------+-----------------+----------------+-----------------+-----------+-------+-------+
only showing top 5 rows

In [17]:
DIM_CARD_TYPE=df.select("card_type").distinct()

In [18]:
DIM_CARD_TYPE=DIM_CARD_TYPE.withColumn('card_type_id',row_number().over(Window.orderBy(monotonically_increasing_id())));
DIM_CARD_TYPE=DIM_CARD_TYPE.select("card_type_id","card_type")

In [19]:
DIM_CARD_TYPE=DIM_CARD_TYPE.na.drop()

In [20]:
DIM_CARD_TYPE.count()

12

In [21]:
DIM_DATE = df.select("year","month","day","hour","weekday")

In [22]:
DIM_DATE = DIM_DATE.withColumn('full_date_time', unix_timestamp(concat_ws("-",col("year"),col("month"),col("day"),col("Hour")), "yyyy-MMMM-dd-HH").cast('timestamp')).distinct()

In [23]:
DIM_DATE = DIM_DATE.withColumn('date_id',row_number().over(Window.orderBy(monotonically_increasing_id())));
DIM_DATE = DIM_DATE.select("date_id","full_date_time","year","month","day","hour","weekday")

In [24]:
DIM_DATE.count()

8685

In [25]:
DIM_ATM=df.select(col("atm_id").alias("atm_number"),"atm_manufacturer","atm_lat","atm_lon").distinct()

In [26]:
DIM_ATM=DIM_ATM.na.drop()

In [27]:
DIM_ATM.show(5)

+----------+----------------+-------+-------+
|atm_number|atm_manufacturer|atm_lat|atm_lon|
+----------+----------------+-------+-------+
|         7| Diebold Nixdorf| 57.168| 10.148|
|       107| Diebold Nixdorf| 55.505|  9.457|
|        55|             NCR| 56.769|  9.859|
|        11|             NCR| 57.023|   9.94|
|        45|             NCR| 57.447| 10.506|
+----------+----------------+-------+-------+
only showing top 5 rows

In [28]:
DIM_ATM=DIM_ATM.withColumn('atm_id',row_number().over(Window.orderBy(monotonically_increasing_id())));
DIM_ATM=DIM_ATM.select("atm_id","atm_number","atm_manufacturer","atm_lat","atm_lon")

In [29]:
DIM_ATM.show(5)

+------+----------+----------------+-------+-------+
|atm_id|atm_number|atm_manufacturer|atm_lat|atm_lon|
+------+----------+----------------+-------+-------+
|     1|         7| Diebold Nixdorf| 57.168| 10.148|
|     2|       107| Diebold Nixdorf| 55.505|  9.457|
|     3|        55|             NCR| 56.769|  9.859|
|     4|        11|             NCR| 57.023|   9.94|
|     5|        45|             NCR| 57.447| 10.506|
+------+----------+----------------+-------+-------+
only showing top 5 rows

In [30]:
df1 = DIM_ATM.join(DIM_LOCATION, on=['atm_lat','atm_lon'], how='outer')
df1.show(5)

+-------+-------+------+----------+----------------+---------------+--------------+------------------+-----------------+-----------+
|atm_lat|atm_lon|atm_id|atm_number|atm_manufacturer|atm_location_id|  atm_location|    atm_streetname|atm_street_number|atm_zipcode|
+-------+-------+------+----------+----------------+---------------+--------------+------------------+-----------------+-----------+
| 55.058| 10.609|    33|        84|             NCR|             44|     Svendborg|Sankt Nicolai Gade|                1|       5700|
| 55.233| 11.763|    11|         1|             NCR|             98|    NÃƒÂ¦stved|       Farimagsvej|                8|       4700|
| 55.318| 10.781|    36|        78| Diebold Nixdorf|             64|        Nyborg|        Vestergade|               35|       5800|
| 55.394|  10.37|    76|        98|             NCR|             38|        Odense|      FÃƒÂ¦lledvej|                3|       5000|
| 55.394|  10.37|    76|        98|             NCR|             94|Intern  Odense|      FÃƒÂ¦lledvej|                3|       5000|
+-------+-------+------+----------+----------------+---------------+--------------+------------------+-----------------+-----------+
only showing top 5 rows

In [31]:
DIM_ATM=df1.select("atm_id","atm_location_id","atm_number","atm_manufacturer").distinct()

In [50]:
DIM_ATM.show(156)

+------+---------------+----------+----------------+
|atm_id|atm_location_id|atm_number|atm_manufacturer|
+------+---------------+----------+----------------+
|    94|             83|        88|             NCR|
|    55|             67|        81|             NCR|
|    12|             19|        46| Diebold Nixdorf|
|    66|             59|        53|             NCR|
|    35|             63|        47|             NCR|
|    80|             73|        50|             NCR|
|    37|             70|        16|             NCR|
|    25|             66|        87|             NCR|
|    98|             35|       109| Diebold Nixdorf|
|    21|             90|        30|             NCR|
|    67|             54|        22|             NCR|
|    17|             95|        14|             NCR|
|     1|             87|         7| Diebold Nixdorf|
|    59|             54|       106|             NCR|
|     1|             46|         7| Diebold Nixdorf|
|    53|             61|        56| Diebold Nixdorf|
|    22|             51|        61|             NCR|
|    47|             70|        91|             NCR|
|    89|             49|        31|             NCR|
|    60|             45|        52|             NCR|
|    90|             84|       111| Diebold Nixdorf|
|    20|             43|        34|             NCR|
|    82|             97|        96|             NCR|
|     8|             79|        82|             NCR|
|   109|             25|       104|             NCR|
|    50|             37|        90|             NCR|
|    47|             34|        91|             NCR|
|    34|            104|        75|             NCR|
|   104|            102|        24|             NCR|
|    23|             78|        63|             NCR|
|    43|             42|        57|             NCR|
|    37|             34|        16|             NCR|
|    18|             76|         9| Diebold Nixdorf|
|     7|             83|       102|             NCR|
|    44|             27|        37|             NCR|
|   108|            109|        36|             NCR|
|   109|             86|       104|             NCR|
|    92|             55|        48| Diebold Nixdorf|
|    48|             53|        99|             NCR|
|    42|             62|        64|             NCR|
|    61|             81|        68|             NCR|
|    52|             92|        40| Diebold Nixdorf|
|    39|             37|       110| Diebold Nixdorf|
|     6|             50|         5|             NCR|
|    96|             15|        35|             NCR|
|    56|             71|        92|             NCR|
|    89|              2|        31|             NCR|
|    79|              4|        19|             NCR|
|    37|             18|        16|             NCR|
|    56|            109|        92|             NCR|
|    57|             92|        89|             NCR|
|    99|             49|       113| Diebold Nixdorf|
|    86|             46|        97|             NCR|
|   112|             55|        93|             NCR|
|    81|             40|        41| Diebold Nixdorf|
|     7|             66|       102|             NCR|
|    77|             10|        95|             NCR|
|     9|             24|        66|             NCR|
|    40|              5|       108|             NCR|
|    51|             13|        18| Diebold Nixdorf|
|    83|             16|        23| Diebold Nixdorf|
|    91|             29|        79|             NCR|
|    10|             69|        80|             NCR|
|    93|             94|        25| Diebold Nixdorf|
|    24|             40|        94|             NCR|
|    93|             38|        25| Diebold Nixdorf|
|    73|            106|        85| Diebold Nixdorf|
|    30|              9|        38|             NCR|
|    73|             10|        85| Diebold Nixdorf|
|    69|             18|       100|             NCR|
|    50|             12|        90|             NCR|
|    14|             86|        21|             NCR|
|   106|             56|        71|             NCR|
|   108|             71|        36|             NCR|
|    64|             90|        59| Diebold Nixdorf|
|    59|            107|       106|             NCR|
|    25|             93|        87|             NCR|
|    29|             12|        26|             NCR|
|    27|             85|        73|             NCR|
|     3|             39|        55|             NCR|
|    65|             65|        51|             NCR|
|    32|             28|        60|             NCR|
|   105|             58|        44|             NCR|
|   103|             14|        13|             NCR|
|    11|             98|         1|             NCR|
|    72|              1|        33|             NCR|
|    97|             32|       101|             NCR|
|    46|              7|        77|             NCR|
|    14|             25|        21|             NCR|
|     5|             22|        45|             NCR|
|   112|            101|        93|             NCR|
|    61|             53|        68|             NCR|
|    92|            101|        48| Diebold Nixdorf|
|    47|             18|        91|             NCR|
|   113|             26|       105| Diebold Nixdorf|
|   110|             52|        27|             NCR|
|    28|             21|         8|             NCR|
|    63|             96|        20|             NCR|
|    19|             74|       112| Diebold Nixdorf|
|    24|            105|        94|             NCR|
|    85|             72|        54|             NCR|
|    57|             88|        89|             NCR|
|   111|             68|        12|             NCR|
|    45|             17|        69|             NCR|
|    62|             75|         4|             NCR|
|    33|             44|        84|             NCR|
|    39|             12|       110| Diebold Nixdorf|
|    76|             38|        98|             NCR|
|    25|             83|        87|             NCR|
|    13|              3|         6|             NCR|
|    16|             99|        58|             NCR|
|    14|             68|        21|             NCR|
|    69|             70|       100|             NCR|
|    74|              6|        43|             NCR|
|    94|             93|        88|             NCR|
|    54|            103|         2|             NCR|
|    87|            103|       103| Diebold Nixdorf|
|    75|            108|        32|             NCR|
|    64|             57|        59| Diebold Nixdorf|
|     7|             93|       102|             NCR|
|     4|             77|        11|             NCR|
|    77|            106|        95|             NCR|
|    99|              2|       113| Diebold Nixdorf|
|    67|            107|        22|             NCR|
|   111|             25|        12|             NCR|
|    68|             89|        86|             NCR|
|    26|             82|        28|             NCR|
|   101|             41|        76|             NCR|
|    88|             36|        15|             NCR|
|    15|              8|        83|             NCR|
|    49|            100|        65|             NCR|
|    69|             34|       100|             NCR|
|   109|             68|       104|             NCR|
|    38|             33|        67|             NCR|
|    78|             20|        74|             NCR|
|    86|             87|        97|             NCR|
|     2|              4|       107| Diebold Nixdorf|
|   107|             91|        72|             NCR|
|   111|             86|        12|             NCR|
|    29|             37|        26|             NCR|
|    94|             66|        88|             NCR|
|    36|             64|        78| Diebold Nixdorf|
|    76|             94|        98|             NCR|
|    48|             81|        99|             NCR|
|    41|             30|        62| Diebold Nixdorf|
|    84|             31|        42|             NCR|
|    31|             11|        29|             NCR|
|   100|             23|        39|             NCR|
|   102|             26|        10|             NCR|
|    21|             57|        30|             NCR|
|    70|             60|        70| Diebold Nixdorf|
|    71|             48|        17|             NCR|
|    95|             80|        49|             NCR|
|    81|            105|        41| Diebold Nixdorf|
|    58|             47|         3|             NCR|
|    52|             88|        40| Diebold Nixdorf|
+------+---------------+----------+----------------+

In [33]:
DIM_ATM.count()

156

In [34]:
df2=df.join(DIM_DATE, on=['year','month','day','hour'],how='outer')
df3=df2.join(DIM_CARD_TYPE, on=['card_type'], how='outer')
df4=df3.join(DIM_LOCATION, on=['atm_location','atm_lat','atm_lon','atm_zipcode','atm_street_number','atm_streetname'], how='outer')

In [35]:
df3.show(5)

+---------------+----+-----+---+----+--------+----------+------+----------------+------------+-------------------+-----------------+-----------+-------+-------+--------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+-------+-------------------+--------+------------+
|      card_type|year|month|day|hour| weekday|atm_status|atm_id|atm_manufacturer|atm_location|     atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|currency|transaction_amount|   service|message_code|message_text|weather_lat|weather_lon|weather_city_id|weather_city_name|   temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main|weather_description|date_id|     full_date_time| weekday|card_type_id|
+---------------+----+-----+---+----+--------+----------+------+----------------+------------+-------------------+-----------------+-----------+-------+-------+--------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+-------+-------------------+--------+------------+
|Dankort - on-us|2017|April|  1|  17|Saturday|    Active|    67|             NCR|  HÃƒÂ¸jslev|     ÃƒËœsterrisvej|                2|       7840| 56.551|   9.11|     DKK|              9348|Withdrawal|        null|        null|     56.586|      9.136|        2619908|          Hojslev|284.047|    1022|      69|         3|     251|    0.0|        64|       803|      Clouds|      broken clouds|   1758|2017-04-01 17:00:00|Saturday|           1|
|Dankort - on-us|2017|April|  1|  17|Saturday|  Inactive|     3|             NCR|       Ikast|RÃƒÂ¥dhusstrÃƒÂ¦det|               12|       7430| 56.139|  9.154|     DKK|              3585|Withdrawal|        null|        null|     56.139|      9.158|        2619426|            Ikast| 287.15|    1010|      67|         2|     230|    0.0|        76|       803|      Clouds|      broken clouds|   1758|2017-04-01 17:00:00|Saturday|           1|
|Dankort - on-us|2017|April|  1|  17|Saturday|  Inactive|    74|             NCR|     Jebjerg|          Kirkegade|                4|       7870| 56.671|  9.013|     DKK|              9660|Withdrawal|        null|        null|     56.567|      9.033|        2613731|            Skive| 287.15|    1010|      67|         2|     230|    0.0|        76|       803|      Clouds|      broken clouds|   1758|2017-04-01 17:00:00|Saturday|           1|
|Dankort - on-us|2017|April|  1|  17|Saturday|  Inactive|    74|             NCR|     Jebjerg|          Kirkegade|                4|       7870| 56.671|  9.013|     DKK|              9209|Withdrawal|        null|        null|     56.567|      9.033|        2613731|            Skive| 287.15|    1010|      67|         2|     230|    0.0|        76|       803|      Clouds|      broken clouds|   1758|2017-04-01 17:00:00|Saturday|           1|
|Dankort - on-us|2017|April|  1|  17|Saturday|    Active|    45|             NCR|  Abildgaard|     HjÃƒÂ¸rringvej|              144|       9900| 57.447| 10.506|     DKK|               909|Withdrawal|        null|        null|     57.441|     10.537|        2621927|    Frederikshavn|281.197|    1022|      79|         5|     249|    0.0|        76|       803|      Clouds|      broken clouds|   1758|2017-04-01 17:00:00|Saturday|           1|
+---------------+----+-----+---+----+--------+----------+------+----------------+------------+-------------------+-----------------+-----------+-------+-------+--------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+-------+-------------------+--------+------------+
only showing top 5 rows

In [36]:
DIM_DATE.show(5)

+-------+-------------------+----+-------+---+----+---------+
|date_id|     full_date_time|year|  month|day|hour|  weekday|
+-------+-------------------+----+-------+---+----+---------+
|      1|2017-01-01 12:00:00|2017|January|  1|  12|   Sunday|
|      2|2017-01-06 08:00:00|2017|January|  6|   8|   Friday|
|      3|2017-01-08 16:00:00|2017|January|  8|  16|   Sunday|
|      4|2017-01-16 18:00:00|2017|January| 16|  18|   Monday|
|      5|2017-01-18 07:00:00|2017|January| 18|   7|Wednesday|
+-------+-------------------+----+-------+---+----+---------+
only showing top 5 rows

In [37]:
FACT_ATM_TRANS = df4.select("atm_id","atm_location_id","date_id","card_type_id","atm_status" ,"currency" ,"service" ,"transaction_amount" ,"message_code","message_text" ,"rain_3h" ,"clouds_all" ,"weather_id" ,"weather_main" ,"weather_description")

In [38]:
FACT_ATM_TRANS=FACT_ATM_TRANS.withColumn('trans_id',row_number().over(Window.orderBy(monotonically_increasing_id())));

In [39]:
FACT_ATM_TRANS = FACT_ATM_TRANS.select("trans_id","atm_id","atm_location_id","date_id","card_type_id","atm_status" ,"currency" ,"service" ,"transaction_amount" ,"message_code","message_text" ,"rain_3h" ,"clouds_all" ,"weather_id" ,"weather_main" ,"weather_description")

In [40]:
FACT_ATM_TRANS.count()

2468572

In [43]:
DIM_LOCATION.write.csv('s3a://mybucketagosh/DIM_LOCATION', mode='overwrite', header = True, sep = '|')

In [44]:
DIM_ATM.write.csv('s3a://mybucketagosh/DIM_ATM', mode='overwrite', header = True, sep = '|')

In [45]:
DIM_DATE.write.csv('s3a://mybucketagosh/DIM_DATE', mode='overwrite', header = True, sep = '|')

In [46]:
DIM_CARD_TYPE.write.csv('s3a://mybucketagosh/DIM_CARD_TYPE', mode='overwrite', header = True, sep = '|')

In [47]:
FACT_ATM_TRANS.write.csv('s3a://mybucketagosh/FACT_ATM_TRANS', mode='overwrite', header = True, sep = '|')